.index{
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-left: 50px;
    padding-top: 30px;
    border-top: 1px solid rgb(228, 228, 228);
}

.main_heading{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.heading{
    /* padding-left: -100px; */
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.subHeading{
    font-weight: bold;
    color: #a7a7a7;
}
.headerContainer{
    /* padding: 15px 50px 50px 50px; */
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
}
.headerContainer p{
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
    /* width: 70%; */
}
.rightBotton{
    text-align: right;
}
.callButton{
    width: 350px;
    display: inline;
}



.serviceCard_Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    width: 1020px;
    margin: auto;
}

.serviceCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #cbb5fa;
    border-radius: 8px;
    padding: 15px;
    height:225px;
    width:500px;
    text-align: center;
}
h2{
    color:#a7a7a7;
    font-size: 17px;
    text-align: left;
}
.cardHeading{
    color:#636162;
    font-weight: bold;
    font-size: 18px;

}
img{
max-height : 195px;
max-width: 235px;
}
.image{
    background-color: #EFEDF6;
    width:100%;
    height:100%;
    border-radius: 8px;
}
.cardText{
    padding-left: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.cardText p{
    font-weight: bold;
    color: #a7a7a7;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.button_card{
    font-weight: bold;
    margin-top: 10px;
}
.benefits{
    margin-top: 10px;
}
.benefits a{
    color: #6448A1;
}

.contactForm{
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    padding: 35px 50px 35px 50px;
    width: 1020px;
    margin: auto;
    background-color: #EFEDF6;
    margin-top: 50px;
}

.staticContact:first-child{
    font-size: 30px;
    font-weight: bold;
    color: rgb(36, 36, 36);
    text-align: center;
    
}

.toll{
    font-size: 24px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    text-align: center;
}

.contactImg{
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 50px;
}

.contact{
    padding-left: 30px;
}
.contact h3{
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}
.contact h5{
    font-size: 12px;
    color:#575556;
    padding-bottom: 30px;
}

.input{
    background-color: white;
    border: 1px solid #cbb5fa;
    margin-bottom: 20px;
}
.formButton{
    width: 200px;
    margin-top: 10px;
}
.req{
    color: tomato;
}

.onlineCources{
    width:1020px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 320px;
}
.courseImage{
    background-color: #F5F8FC;
    height: 100%;
    padding-left: 50px;
    padding-top: 70px;
}
.courseImage img{
    width:auto;
    height: 170px;
}
.courseText{
    padding-left: 30px;
}
.courseImgContainer{
    margin-bottom: 25px;
}
.courseText img{
    width: auto;
    height: 20px;
}
.courseText h3{
    color: #555555;
}
.courseContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color: #6448A1;
    font-size: 18px;
}
.courseContainer img{
    height: 14px;
}

.cap{
    display: inline;
}
.courseName{
    padding-top: 16px;
}
.viewAllCourses{
    text-align: right;
    padding-top: 30px;
}
.viewAllCourses a{
    border-bottom: 2px solid #6448A1;
}

/* -----------  Search -------------*/

.jobSearchContainer{
    width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

.searchBlock{
    display: grid;
    grid-template-columns: .4fr .03fr 2fr;
}
.item{
    font-size: 13px;
    color: #494949;
}
.item:hover{
    color: #6448A1;
}
.searchName{
    font-size: 13px;
    color:#6448A1
}
.modal{
    width: 500px;
}
